@page "/admin"
@model Mission07.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>


<head>
    <title>Book Store Admin</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

    <base href="/">
</head>



<body>
    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>



</html>